<h1>Burgers!</h1>

<p>Eat Da Burger</p>

<!-- Pass in data from server.js -->
<ul>
    {{#each burgers}} {{#unless devoured}}
    <li>
        <p><span class="label"></span> {{this.burger}}</p>
        <button data-id="{{this.id}}" class="delquote">Devour It!</button>
    </li>
    {{/unless}} {{/each}}
</ul>

<h2>Add a Burger</h2>

<form class="create-form">

    <div class="form-group">
        <label for="newBurg">Burger:</label>
        <input type="text" id="newBurg" name="name">
    </div>

    <div class="form-group">
        <label for="des">Description:</label>
        <textarea id="des" name="name" rows="8" cols="40"></textarea>
    </div>

    <button type="submit">Add Burger</button>
</form>
