<h1>Eat Da Burger!</h1>
<img>
<!-- Pass in data from server.js -->

<h2>Burgers ready to be enjoyed!</h2>

<ul>
    {{#each burgers}} {{#unless devoured}} {{> burgers/newburger devoured=true}} {{/unless}} {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
    {{#each burgers}} {{#if devoured}} {{> burgers/newburger devoured=false}} {{/if}} {{/each}}
</ul>

<div class="form">
    <form>
        <input type="text" id="bur" name="name">

        <button id="addBurger" type="submit">Add Burger</button>
        <p>Create a burger you want to devour, then press the 'Add Burger' button!</p>
    </form>
</div>
